{%- assign section_id = include.id-param -%}
{%- assign section_title = include.title-param -%}
{%- assign section_file = site.data[section_id] -%}
{%- assign count_bch = 0 -%}
{%- assign count_listings = 0 -%}
{%- for call in section_file.rpc -%}
  {%- assign count_listings = count_listings | plus: '1' -%}
  {%- if call.abc or call.bu or call.xt or call.bitprim -%}
    {%- assign count_bch = count_bch | plus: '1' -%}
  {%- endif -%}
{%- endfor -%}
<div class="website-table desktop-table {{ section_id }}-table" id="{{ section_id }}-desktoptable" style="display:none">
  <table class="ui celled table content-wrapper">
    <thead class="ui sticky">
    <tr>
      <th class="single line four wide">{{ section_title }}</th>
      <th class="two wide">ABC</th>
      <th class="two wide">Unlimited</th>
      <th class="two wide">XT</th>
      <th class="two wide">BitPrim</th>
    </tr>
    </thead>
    <tbody class="bch-merchant-content">
      {%- if count_bch <= 0 -%}
      <tr class="bch-only-none-found">
        <td colspan="5" style="text-align: center">
          <h3><i class="big remove circle icon"></i></h3>
          <p>No listings accepting Bitcoin Cash found in {{section_title}}.</p>
          <p>Try <span class="clear-bch-only">clearing the Bitcoin Cash only filter</span> to see all listings, then reach out to them over social media or e-mail <i class="announcement icon"></i></p>
        </td>
      </tr>
      {%- endif -%}
      {% for call in section_file.rpc %}
		{%- if call.abc or call.bu or call.xt or call.bitprim -%}
          {%- assign main_class = 'positive' -%}
        {%- else -%}
		  {%- assign main_class = 'negative' -%}
        {%- endif -%}

		  <tr class="desktop-tr{% if call.abc == false %} no-bch{% endif %}">
			<td class="main {{main_class}}">
              {% include segment/table-row-title.html section=section_id rpc=call type='desktop' %}
			</td>
			{%- if call.abc or call.bu or call.xt or call.bitprim -%}
			  <td class="{% if call.abc %}positive{% else %}negative{% endif %} icon">
				{%- if call.abc -%}
				<div class="coin-wrap green-coin-wrap">
				  <noscript>
				    <img src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				  </noscript>
				  <img src="{{ page.img_placeholder }}" data-src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				</div>
				{%- endif -%}
			  </td>
			  <td class="{% if call.bu %}positive{% else %}negative{% endif %} icon">
				{%- if call.bu -%}
				<span class="coin-wrap orange-coin-wrap">
				  <noscript>
				    <img src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				  </noscript>
				  <img src="{{ page.img_placeholder }}" data-src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				</span>

				{%- endif -%}
			  </td>
			  <td class="{% if call.xt %}positive{% else %}negative{% endif %} icon">
				{%- if call.xt -%}
				<div class="coin-wrap green-coin-wrap">
				  <noscript>
				    <img src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				  </noscript>
				  <img src="{{ page.img_placeholder }}" data-src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				</div>
			    {%- endif -%}
			  </td>
			  <td class="{% if call.bitprim %}positive{% else %}negative{% endif %} icon">
				{%- if call.bitprim -%}
				<div class="coin-wrap green-coin-wrap">
				  <noscript>
				    <img src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				  </noscript>
				  <img src="{{ page.img_placeholder }}" data-src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
				</div>
				{%- endif -%}
			  </td>
			{%- endif -%}
		  </tr>
      {%- endfor -%}
      {%- if count_bch > 0 and count_bch <= 5 and count_bch != count_listings -%}
      <tr class="bch-only-none-found">
        <td colspan="5" style="text-align: center">
          <h4>Hoping to see more than {{ count_bch }} listing{% if count_bch > 1 %}s{% endif %} accepting Bitcoin Cash in {{ section.title }}?</h4>
          <p>Try <span class="clear-bch-only">clearing the Bitcoin Cash only filter</span> to see all listings, then reach out to them over social media or e-mail <i class="announcement icon"></i></p>
        </td>      </tr>
      {%- endif -%}
    </tbody>
  </table>
</div>
