{%- assign section_id = include.id-param -%}
{%- assign section_title = include.title-param -%}
{%- assign section_file = site.data[section_id] -%}
{%- assign count_bch = 0 -%}
{%- assign count_listings = 0 -%}
{%- for call in section_file.rpc -%}
  {%- assign count_listings = count_listings | plus: '1' -%}
  {%- if call.abc or call.bu or call.xt or call.bitprim -%}
    {%- assign count_bch = count_bch | plus: '1' -%}
  {%- endif -%}
{%- endfor -%}
<div class="website-table mobile-table {{ section_id }}-table" id="{{ section_id }}-mobiletable" style="display:none">
  <div class="label">
    <h3>{{ section_title }}</h3>
  </div>
  {%- if count_bch <= 0 -%}
  <div class="main negative{% if call.abc == false %} no-bch{% endif %} bch-only-none-found-mobile">
    <div class="title">
      <h3><i class="big remove circle icon"></i></h3>
      <p>No listings accepting Bitcoin Cash found in {{section_title}}.</p>
      <p>Try <span class="clear-bch-only">clearing the Bitcoin Cash only filter</span> to see all listings, then reach out to them over social media or e-mail <i class="announcement icon"></i></p>
    </div>
  </div>
  {%- endif -%}
  <div class="bch-merchant-content">
    {% for call in section_file.rpc %}
	    {%- if call.abc -%}
          {%- assign main_class = 'positive' -%}
        {%- else -%}
		  {%- assign main_class = 'negative no-bch' -%}
        {%- endif -%}

      <div class="main {{main_class}}">
        {% include segment/table-row-title.html section=section_id rpc=call type='mobile' %}
        {%- if call.abc or call.bu or call.xt or call.bitprim -%}
          <p>Supported:</p>
          {%- if call.abc -%}
          <div class="mobile-logo coin-wrap green-coin-wrap">
            <noscript>
              <img src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
            </noscript>
            <img src="{{ page.img_placeholder }}" data-src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
          </div>
          {%- endif -%}
          {%- if call.bu -%}
          <div class="mobile-logo coin-wrap green-coin-wrap">
            <noscript>
              <img src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
            </noscript>
            <img src="{{ page.img_placeholder }}" data-src="/img/coin-bch.png" alt="Bitcoin Cash" height="40">
          </div>
          {%- endif -%}
          {%- if call.xt -%}
          <div class="mobile-logo tbl-other-crypto">Other<br>Crypto</div>
          {%- endif -%}
		  
          {%- if call.bitprim -%}
          <div class="mobile-logo tbl-other-crypto">Other<br>Crypto</div>
          {%- endif -%}
          
        {%- else -%}
          <p>No implementations support this call</p>
          <div class="button-group">
           
          </div>
        {%- endif -%}
	  </div>
    {%- endfor -%}
    {%- if count_bch > 0 and count_bch <= 5 and count_bch != count_listings -%}
    <div class="bch-only-none-found-mobile">
      <h4>Hoping to see more than {{ count_bch }} listing{% if count_bch > 1 %}s{% endif %} accepting Bitcoin Cash in {{ section.title }}?</h4>
      <p>Try <span class="clear-bch-only">clearing the Bitcoin Cash only filter</span> to see all listings, then reach out to them over social media or e-mail <i class="announcement icon"></i></p>
    </div>
    {%- endif -%}
  </div>
</div>
