{%- assign rpc = include.rpc -%}
<div class="title">
<div class="keywords" style="display:none;">{{ rpc.name }}
&nbsp;abc:{{ rpc.abc | default: false }}
&nbsp;bu:{{ rpc.bu | default: false }}
&nbsp;xt:{{ rpc.xt | default:false }}
&nbsp;bitprim:{{ rpc.bitprim | default:false }}
{%- if rpc.keywords -%}
{%- for keyword in rpc.keywords -%}
&nbsp;{{ keyword }}
{%- endfor -%}
{%- endif -%}
</div>
<a href="/" class="name" target="_blank" rel="noopener">{{ rpc.name }}</a>
{%- include exception.html website=rpc -%}
</div>
